h1{
	background-color:yellow;
	border: 12px;
	font-color:white;
	font-size: 20px;
}
*{
	text-decoration: none;
}
.navbar{
	background: gold;
	font-family: calibri;
	padding-right: 15px;
}
.navdiv{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.logo a{
	font-size:35px;
	font-weight: 600;
	color: black;
	font-style: italic;
}
li{
	list-style: none;
	display: inline-block;
	font-size: 30px;
}
li a{
	color:red;
	 font font-size:40px; 
	 font-weight: bold;
	 margin-right: 25px;
}
button{
	background-color: black;
	margin-left: 10px;
	border-radius: 10px;
	padding: 10px;
	width: 90px;
}
button a{
	color: white;
	font-weight: bold;
	font-size: 15px;
}
footer {
  background-color:yellow;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

footer a {
  color: #00bfff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

footer a {
  color: #00bfff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}